/* --- Overlay de la modale de confirmation --- */
#confirmation_modal {
  display: none;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

#confirmation_modal.show {
  display: flex;
}

/* --- Conteneur principal de la modale --- */
.confirmation_modal_content {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 100%;
  min-height: 900px;
  min-width: 280px;
  max-width: 500px;
  max-height: 1000px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 0.6rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 1.3rem 1rem;
  text-align: center;
}

.modal-body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 8%;
  margin: 1rem auto;
}

p {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* --- Bouton en bas --- */
.close_bottom {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 0.45rem;
  font-size: 1rem;
  padding: 0.8rem 5.125rem;
  color: #fff;
  cursor: pointer;
  border: 0;
  margin-top: auto; /* pousse le bouton en bas */
}

.close_bottom:hover {
  background: #3876ac;
}

/* --- Bouton croix en haut --- */
button.close {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  color: #fff;
  border: none;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button.close:before,
button.close:after {
  position: absolute;
  left: 0.9rem;
  content: " ";
  height: 2.06rem;
  width: 0.19rem;
  background-color: #fff;
}

button.close:before {
  transform: rotate(45deg);
}

button.close:after {
  transform: rotate(-45deg);
}


@media screen and (max-width: 768px) {
  .confirmation_modal_content {
    height: calc(100vh - 80px);
    margin-top: 80px;

  }
}

